{
    "id": "septentrio",
    "title": "Septentrio GNSS",
    "url": "https://{{ SEPTENTRIO_IP }}",
    "icon": "/icons/septentrio.svg",
    "description": {
        "en": "Web GUI of Septentrio GNSS base station"
    }
}
